nav {
  margin-bottom: 20px;
  text-align: right;

  button {
    display: inline-block;
    background: #f7f8f9;
    color: #61696e;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 25px;
    border: 1px solid #c2cad0;
    border-left-color: transparent;
    cursor: pointer;

    &:first-child {
      border-left: 1px solid #c2cad0;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    &:last-child {
      border-left-color: transparent;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    &.active {
      background: #1a72b0;
      color: #fff;
      text-shadow: 3px 4px 0px rgba(0, 0, 0, 0.1);
      border: 1px solid #1a72b0;
    }
  }
}
