@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.movies {
  height: calc(100vh - 128px);
  overflow-y: auto;
}
.movie,
.movies {
  > li {
    max-width: 800px;
    margin-bottom: 28px;
    padding: 14px;
    background: #e8ebee;
    border-radius: 8px;
    border: 2px solid #303436;

    .image {
      padding-right: 30px;

      img {
        width: 100%;
        border-radius: 8px;
      }
    }

    .content {
      color: #303436;

      .title {
        font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
        font-size: 24px;
        font-weight: 700;
        height: 35px;
        border-bottom: 1px solid #8d989e;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .details,
      .metadata {
        margin-top: 10px;
        font-family: sans-serif;
      }
      .details {
        font-size: 13px;
        li {
          margin-top: 5px;
        }
      }
      .metadata {
        font-size: 14px;
        overflow: hidden;

        li {
          margin-left: 35px;
          display: inline-block;
        }

        .rated {
          color: #8d989e;
          font-family: Courier, monospace;
          margin-left: 0;

          div {
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid #8d989e;
            border-radius: 8px;
          }
        }
        .release {
          text-align: right;
          margin-left: 0;
          float: right;
        }
      }
      .plot {
        margin-top: 17px;
        margin-bottom: 10px;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
      .nav {
        text-align: right;

        button {
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

h1 {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: block;
  }
}

button.imdb,
button.detail {
  background: #f9b44a;
  color: #fff;
  font-family: 'Helvetica-Bold', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: 16px;
  padding: 15px 45px;
  text-decoration: none;
  border-style: none;
  border-radius: 8px;
}

#content {
  display: block;
  margin: auto;
}
