<ng-container *ngIf="moviesAndDecadesData$ | async; let data">
  <app-decades
    *ngIf="data.decades.length"
    [decades]="data.decades"
    [currDecade]="(decadeSelectionChanges$ | async) || 0"
    (updateDecade)="decadeSelectionChanges$.next($event)"
  ></app-decades>

  <ul class="movies" *ngIf="data.filteredMovies.length">
    <li *ngFor="let movie of data.filteredMovies" class="grid grid-bleed" tabindex="0">
      <app-movie-tile [movie]="movie"></app-movie-tile>
    </li>
  </ul>
</ng-container>
